.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.list {
  list-style: none;

  :not(:last-child) {
    margin-bottom: 8px;
  }
}

.buttons {
  padding: 8px;
  display: flex;
  gap: 16;

  button {
    padding: 4px 8px;
  }
}